mixin content-list__item(itemNameModif, itemName, itemDate, itemSecName, itemDescript)
    li(class="content-list__item")
        div(class="content-list__item-name"+itemNameModif)= itemName
        div(class="content-list__item-date")= itemDate
        div(class="content-list__item-sec-name")= itemSecName
        div(class="content-list__item-description")= itemDescript