mixin content-list__item(itemNameModif, itemName, itemDate, itemSecName, itemDescript)
    li.content-list__item
        div.content-list__item-name(class= itemNameModif)= itemName
        .content-list__item-date= itemDate
        .content-list__item-sec-name= itemSecName
        .content-list__item-description= itemDescript