.content-list
  list-style none
  &__item-name
    display inline-block
    font-size 1.92rem
    font-weight bold
    &_color_blue
      color #3d6cb0
  &__item
    padding-bottom 11px
  &__item:before
    content ""
    display inline-block
    margin 0 3% 0 -7%
    width 20px
    height 20px
    border-radius 50%
    background #000000
  &__item-date
    display inline-block
    font-size 1.92rem
    font-weight lighter
    padding-left 3%
  &__item-sec-name
    padding-top 2px
    font-size 1.92rem
  &__item-description
    padding-top 5px
    font-size 1.14rem
    line-height 1.365rem
