mixin header-of-block(imageName, catDef)
	.header-of-block
		img.header-of-block__icon(src=require('./blocks/common/header-of-block/images/'+imageName+'.png'))
		.header-of-block__cat-def
			.category-definition= catDef
		.header-of-block__line
			hr.line
