.header-of-block {
	display: flex;
	height: 76px;
	padding: 0 0 10px 0;
}

.header-of-block__icon {
	display: inline-block;
	max-width: 100%;
}

.category-definition {
	font-size: 3.15rem;
	font-weight: bolder;
	color: #3d6cb0;
}

.header-of-block__cat-def {
	display: inline-block;
	margin: auto 1.45% auto 1.95%;
}

.header-of-block__line {
	display: inline-block;
	width: 100%;
	margin: auto 0;
}

.line {
	border: 2px solid #3d6cb0;
}