.content-list
  list-style none
  &__item-name
    display inline-block
    font-size 1.92rem
    font-weight bold
    text-transform uppercase
    &_color_blue
      color #3d6cb0
  &__item
    padding-bottom 0.786rem
  &__item-date
    display inline-block
    font-size 1.92rem
    font-weight lighter
    padding-left 1.4rem
  &__item-second-name
    padding-top 0.143rem
    font-size 1.92rem
    text-transform uppercase
  &__item-description
    padding-top 0.357rem
    font-size 1.14rem
    line-height 1.365rem

.content-list
  list-style-image url(images/list-item-dot.png)