.about
	min-height 498px
	padding-left 4.68384%
	&__name
		margin 22px 0 -18px 0

.photo
	max-width 238px
	height 238px
	border 1px solid #3d6cb0
	border-radius 50%
	margin auto
	&__circle
		width 88.3333%
		height 88.3333%
		background #3d6cb0
		border-radius 50%
		margin 5.8333%

.name
	text-align center
	font-size 4.1rem

.surname
	text-align center
	font-size 4.5rem
	font-weight bold

.prof
	text-align center
	font-size 1.8rem
	font-weight bold