div(class="about")
	div(class="about__photo")
		div(class="photo")
			div(class="photo__circle")
	div(class="about__name")
		div(class="name") NAME HERE
	div(class="surname") SURNAME
	div(class="prof") GRAPHIC DESIGNER