.about
  padding 0 0 5.2rem 1.625rem
  text-align center
  text-transform uppercase

  @media only screen and (max-width 60rem)
    padding 0

  &__photo
    width 17.131rem
    height 17.131rem
    margin auto
    border 0.0625rem solid #3d6cb0
    border-radius 8.55rem
    margin-bottom 2.1rem

  &__image
    width 14.9rem
    height 14.9rem
    border-radius 7.45rem
    background #3d6cb0
    margin 1.1rem

  &__name
    line-height 3.3rem
    font-size 4.1rem

  &__surname
    font-size 4.5rem
    font-weight bold

  &__profession
    font-size 1.8rem
    font-weight bold