.about
  min-height 35.57rem
  padding-left 1.625rem
  &__photo
    width 17.1rem
    height 17.1rem
    margin auto
  &__name
    margin 3.1rem 0 0 0
    line-height 2.125rem
  @media only screen and (max-width 60rem)
    padding 0

.photo
  height 17.1rem
  border 0.0625rem solid #3d6cb0
  border-radius 8.55rem
  &__circle
    width 14.9rem
    height 14.9rem
    background #3d6cb0
    border-radius 7.45rem
    margin 0.95rem

.name
  text-align center
  font-size 4.1rem
  text-transform uppercase

.surname
  text-align center
  font-size 4.5rem
  font-weight bold
  text-transform uppercase

.prof
  text-align center
  font-size 1.8rem
  font-weight bold
  text-transform uppercase