div(class="about")
    div(class="about__photo")
        div(class="photo")
            div(class="photo__circle")
    div(class="about__name")
        div(class="name") name here
    div(class="surname") surname
    div(class="prof") graphic designer