@font-face {
	font-family: 'Conv_myriadpro-regular';
	src: url('fonts/myriadpro-regular.eot');
	src: local('☺'), url('fonts/myriadpro-regular.woff') format('woff'), url('fonts/myriadpro-regular.ttf') format('truetype'), url('fonts/myriadpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 14px;
}

body, div {
	padding: 0;
	margin: 0;
}

.main-page {
    width: 100%;
	max-width: 1280px;
	min-height: 1810px;
    background-color: #ffffff;
	font-family:'Conv_myriadpro-regular',Sans-Serif;
    font-size: 1rem;
	margin: 0 auto;/**/
}

.main-page__column-left {
	float: left;
	width: 33.359375%; /*427/1280*/
	margin: 6.796875% 6.171875% 0 4.84375%; /*62/1280=4,843 79/1280=6,25 87/1280=*/
	/*border: 1px solid #3d6cb0;*/
}

.main-page__column-right {
	float: left;
	width: 50.9375%; /*652/1280*/
	margin: 5.625% 4.6875% 0 0; /*60/1280 72/1280=5,625*/
	/*border: 1px solid #3d6cb0;*/
}

.about {
	min-height: 498px;
	padding-left: 4.68384%;
}

.profile {
	min-height: 382px;
}

.contact {
	min-height: 350px;
}

.skills {
	min-height: 493px;
}

.education {
	min-height: 709px;
}

.experience {
	min-height: 583px;
}

.software {
	min-height: 446px;
}

.photo {
	width: 240px;
	height: 240px;
	border: 2px solid #3d6cb0;
	border-radius: 50%;
	margin: 0 auto;
}

.photo__circle {
	width: 87.5%;
	height: 87.5%;
	background: #3d6cb0;
	border-radius: 50%;
	margin: 6.25%; /*15/240*/
}

.name {
	text-align: center;
	font-size: 4.1rem;
	margin: 20px 0 -18px 0;
}

.surname {
	text-align: center;
	font-size: 4.5rem;
	font-weight: bold;
}

.prof {
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
}

.header-of-block {
	display: flex;
	height: 79px;
	padding: 0;
	margin: 0 0 10px 0;
	/*border: 1px solid #3d6cb0;*/
}
.header-of-block__icon {
	display: inline-block;
	max-width: 100%;
	/*border: 1px solid #3d6cb0;*/
}

.header-of-block__cat-def {
	display: inline-block;
	margin: auto 8px;
	font-size: 3.15rem;
	font-weight: bolder;
	color: #3d6cb0;
	/*border: 1px solid #3d6cb0;*/
}

.header-of-block__line {
	display: inline-block;
	width: 100%;
	margin: auto 0;
	/*border: 1px solid #3d6cb0;*/
}

.line {
	border: 2px solid #3d6cb0;
}

.profile__content {
	font-size: 1.14rem;
	line-height: 1.365rem;
}

.profile__content_bold {
	font-weight: bold;
}

.contact__content {
}

.contact-table {
	display: table;
	margin: 30px 0 0 0;
}

.contact-table__row {
	display: table-row;
	height: 56px;
}

.contact-table__cell {
	display: table-cell;
	font-size: 1.53rem;
}

.contact-table__cell_color_blue {
	padding-right: 46px;
	color: #3d6cb0;
	font-weight: bold;
}

.skills-feature {
	font-size: 1.92rem;
	text-align: center;
	padding: 19px 0 9px 0;
}

.skills-feature:first-child {
	padding: 11px 0 9px 0;
}

.skills-scale {
	display: flex;
	width: 77.751756%; /*332/427*/
	margin: 0 auto;
}

.skills-scale__circle {
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin: 0 5px;
	background: #3d6cb0;
}

.skills-scale__circle:first-child {
	margin-left: 0;
}

.skills-scale__circle_inactive {
	background: #e6e6e6;
}

.skills-scale__circle_inactive:last-child {
	margin-right: 0;
}

.education-content {
	
}

.content-list {
	list-style: none;
	margin: 25px 0 0 15px;
}

.content-list__item {
	padding-top: 10px;
}

.content-list__item:before {
	content: "";

	display: inline-block;
	margin: 0 19px 0 -42px;

	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000000;
}

.content-list__item:first-child {
	padding-top: 0;
}

.item-name {
	display: inline-block;
	font-size: 1.92rem;
	font-weight: bold;
}

.item-name_color_blue {
	color: #3d6cb0;
}

.item-date {
	display: inline-block;
	font-size: 1.92rem;
	font-weight: lighter;
	margin-left: 20px;
}

.item-sec-name {
	margin-top: 3px;
	font-size: 1.92rem;
}

.item-description {
	margin-top: 5px;
	font-size: 1.14rem;
	line-height: 1.365rem;
}

.experience__content {
	padding-top: 6px;
}

.software-feature {
	font-size: 1.92rem;
	white-space: nowrap;
	margin-bottom: 10px;
}

.software-scale {
	width: 285px;
	height: 23px;
	background: #e6e6e6;
}

.software-scale_num1 {
	width: 260px;
	background: #3d6cb0;
}

.software-scale_num2 {
	width: 237px;
	background: #3d6cb0;
}

.software-scale_num3 {
	width: 201px;
	background: #3d6cb0;
}

.software-scale_num4 {
	width: 176px;
	background: #3d6cb0;
}

.software-scale_num5 {
	width: 161px;
	background: #3d6cb0;
}

.software-scale_num6 {
	width: 260px;
	background: #3d6cb0;
}

.container {
	float: left;
	width: 50%;
	margin: 20px 0 0 8px;
}

.container:nth-child(2n) {
	float: right;
	width: 44%;
}