.content-list
  list-style-image url(images/list-item-dot.png)
  margin 0
  padding 0

  &__item
    padding-bottom 0.786rem
    font-size 1.92rem

    &-name
      display inline-block
      font-weight bold
      text-transform uppercase

      &_color_blue
        color #3d6cb0

    &-date
      display inline-block
      padding-left 1.4rem

    &-second-name
      padding-top 0.143rem
      text-transform uppercase

    &-description
      padding-top 0.357rem
      font-size 1.14rem
      line-height 1.365rem
      word-break normal  