mixin summary()
    main.summary
        block

mixin summary-column-left()
    section.summary__column.summary__column_position_left
        block

mixin summary-column-right()
    section.summary__column.summary__column_position_right
        block