.summary
  width 100%
  max-width 91.42rem
  min-height 129.285rem
  margin 0 auto
  word-break break-all

  &__column
    float left
    @media only screen and (max-width 83rem)
        width 95% 
        margin 1rem

    &_position_left
      width 30.425rem
      margin 6.5rem 5.6rem 0 4.5rem

    &_position_right
      width 46.6rem
      margin 5.5rem 0 0 0