.summary
  width 100%
  word-break break-all
  display flex
  justify-content center

  &__column

    &_position

      &_left
        width 30.425rem
        margin 6.5rem 5.6rem 0 4.5rem

      &_right
        width 46.6rem
        margin 5.5rem 0 0 0

    @media only screen and (max-width 83rem)
      width 95% 
      margin 1rem