.summary
  width 100%
  max-width 91.42rem
  min-height 129.285rem
  margin 0 auto
  word-break break-all
  &__column_position_left
    float left
    width 30.425rem
    margin 6.5rem 5.6rem 0 4.5rem
    @media only screen and (max-width 60rem)
      width 88.90625%
    @media only screen and (max-width 87rem)  
      margin 1rem              
  &__column_position_right
    float left
    width 46.6rem
    margin 5.5rem 0 0 0
    @media only screen and (max-width 60rem)
      width 88.90625%
    @media only screen and (max-width 87rem)
      margin 1rem