div(class="contact")
    +header-of-block("icon_2", "CONTACT")
    div(class="contact__table")
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue") ADDRESS
            div(class="contact__cell") Main Street, City.
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue") E-MAIL
            div(class="contact__cell") contact@domain.com
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue") PHONE
            div(class="contact__cell") 555-555-555
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue") WEBSITE
            div(class="contact__cell") www.yourweb.com