include ../header-of-block/header-of-block.pug

mixin contact(options = {address:"Main Street, City.", email:"contact@domain.com", phone:"555-555-555", website:"www.yourweb.com"})
    -let {address="Main Street, City.", email="contact@domain.com", phone="555-555-555", website="www.yourweb.com"} = options;
    section.contact
        +header-of-block("contact")
        .contact__content
            .contact__table
                .contact__row
                    .contact__cell.contact__cell_color_blue.contact__cell_case_upper.contact__cell_word-break_normal address
                    .contact__cell= address
                .contact__row
                    .contact__cell.contact__cell_color_blue.contact__cell_case_upper.contact__cell_word-break_normal e-mail
                    .contact__cell
                        a.contact__cell-mail(href="mailto: "+email)= email
                .contact__row
                    .contact__cell.contact__cell_color_blue.contact__cell_case_upper.contact__cell_word-break_normal phone
                    .contact__cell
                        a.contact__cell-telephone(href="tel: "+phone)= phone
                .contact__row
                    .contact__cell.contact__cell_color_blue.contact__cell_case_upper.contact__cell_word-break_normal website
                    .contact__cell
                        a.contact__cell-site(href="http://"+website+"/", target="_blank", rel="noopener noreferrer")= website