.contact
  min-height 348px
  &__table
    margin 20px 0 0 0
    display table
  &__row
    display table-row
    height 56px
  &__cell
    display table-cell
    font-size 1.53rem
    &-mail
      text-decoration none
      color #000000
    &-tel
      text-decoration none
      color #000000
    &-site
      text-decoration none
      color #000000
  &__cell_color_blue
    padding-right 2.678571vw
    color #3d6cb0
    font-weight bold