div(class="contact")
    +header-of-block("icon-contact", "contact")
    div(class="contact__table")
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue contact__cell_case_upper") address
            div(class="contact__cell") Main Street, City.
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue contact__cell_case_upper") e-mail
            div(class="contact__cell")
                a(class="contact__cell-mail", href="mailto: contact@domain.com") contact@domain.com
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue contact__cell_case_upper") phone
            div(class="contact__cell")
                a(class="contact__cell-tel", href="tel: 555-555-555") 555-555-555
        div(class="contact__row")
            div(class="contact__cell contact__cell_color_blue contact__cell_case_upper") website
            div(class="contact__cell") 
                a(class="contact__cell-site", href="http://www.yourweb.com/", target="_blank", rel="noopener noreferrer") www.yourweb.com