div(class='contact')
	+header-of-block("icon_2", "CONTACT")
	div(class='table contact__table')
		div(class='table__row')
			div(class='table__cell table__cell_color_blue') ADDRESS
			div(class='table__cell') Main Street, City.
		div(class='table__row')
			div(class='table__cell table__cell_color_blue') E-MAIL
			div(class='table__cell') contact@domain.com
		div(class='table__row')
			div(class='table__cell table__cell_color_blue') PHONE
			div(class='table__cell') 555-555-555
		div(class='table__row')
			div(class='table__cell table__cell_color_blue') WEBSITE
			div(class='table__cell') www.yourweb.com