include ../header-of-block/header-of-block.pug

mixin contact(options = {address:"Main Street, City.", email:"contact@domain.com", phone:"555-555-555", website:"www.yourweb.com"})
    -let {address="Main Street, City.", email="contact@domain.com", phone="555-555-555", website="www.yourweb.com"} = options;
    section.contact
        +header-of-block("contact")
        .contact__content
            .contact__list
                .contact__row
                    .contact__term address
                    .contact__definition= address
                .contact__row
                    .contact__term e-mail
                    .contact__definition
                        a.contact__definition-link(href="mailto: "+email)= email
                .contact__row
                    .contact__term phone
                    .contact__definition
                        a.contact__definition-link(href="tel: "+phone)= phone
                .contact__row
                    .contact__term website
                    .contact__definition
                        a.contact__definition-link(href="http://"+website+"/", target="_blank", rel="noopener noreferrer")= website