.contact
	min-height 348px
	&__table
		margin 20px 0 0 0

.table
	display table
	&__row
		display table-row
		height 56px
	&__cell
		display table-cell
		font-size 1.53rem
	&__cell_color_blue
		padding-right 2.678571vw
		color #3d6cb0
		font-weight bold