.contact
  min-height 24.857rem

  &__content

    @media only screen and (max-width 83rem)
      display flex
      justify-content center

  &__list
    margin 1.3rem 0 0 0
    font-size 1.53rem
    flex-basis 25rem

  &__row
    display flex
    justify-content flex-start

  &__term
    height 4rem
    flex-basis 9.5rem
    color #3d6cb0
    font-weight bold
    text-transform uppercase
    word-break normal

  &__definition
    height 4rem
    &-link
      text-decoration none
      color #000000