.header-of-block
  display flex
  align-items center
  justify-content space-around
  min-height 5.429rem
  padding 0 0 0.714rem 0

  &__icon
    width 5.643rem
    height 5.643rem

  &__category-definition
    margin auto 0.4rem auto 1.95%
    font-size 3.15rem
    font-weight bolder
    text-transform uppercase
    color #3d6cb0

  &__line-block
    flex-grow 1

  &__line
    border 0.21rem solid #3d6cb0

    @media only screen and (max-width 26.785rem)
      display none