div(class='software')
	+header-of-block("icon_6", "SOFTWARE")
	div(class='software-content')
		div(class='container-1 software-content__container')
			div(class='software-feature') PHOTOSHOP
			div(class='software-scale')
				div(class='software-scale software-scale_num1')
			div(class='software-feature') ILLUSTRATOR
			div(class='software-scale')
				div(class='software-scale software-scale_num3')
			div(class='software-feature') INDESIGN
			div(class='software-scale')
				div(class='software-scale software-scale_num5')
		div(class='container-2 software-content__container')
			div(class='software-feature') DREAMWEAVER
			div(class='software-scale')
				div(class='software-scale software-scale_num2')
			div(class='software-feature') AFTER EFFECTS
			div(class='software-scale')
				div(class='software-scale software-scale_num4')
			div(class='software-feature') HTML&CSS3
			div(class='software-scale')
				div(class='software-scale software-scale_num6')