include ../header-of-block/header-of-block.pug

mixin software(options = [{software:"photoshop", level:"91.228"}])
    section.software
        +header-of-block("software")
        .software__content
            -options.forEach(function(item, i, arr) {
                .software__item
                    .software__name= item.software
                    .software__scale
                        .software__scale.software__scale_filled(style= `width: ${item.level}%;`)
            -});