mixin software-level(softwareName, softwareLevel)
		div(class="software-name")= softwareName
		div(class="software-scale")
			div(class="software-scale software-scale_num"+softwareLevel)

div(class="software")
	+header-of-block("icon_6", "SOFTWARE")
	div(class="software-content")
		div(class="software-content__container-1")
			+software-level("PHOTOSHOP", 1)
			+software-level("ILLUSTRATOR", 3)
			+software-level("INDESIGN", 5)
		div(class="software-content__container-2")
			+software-level("DREAMWEAVER", 2)
			+software-level("AFTER EFFECTS", 4)
			+software-level("HTML&CSS3", 6)