mixin software-level(softwareName, softwareLevel)
    .software-name= softwareName
    .software-scale
        .software-scale(class="software-scale_num"+softwareLevel)

.software
    +header-of-block("icon-software", "software")
    .software-content
        .software-content__container-1
            +software-level("photoshop", 1)
            +software-level("illustrator", 3)
            +software-level("indesign", 5)
        .software-content__container-2
            +software-level("dreamweaver", 2)
            +software-level("after effects", 4)
            +software-level("html&css3", 6)