.software
	min-height 446px
	&-name
		font-size 1.92rem
		white-space nowrap
		margin-bottom 12px
	&-scale
		width 285px
		height 23px
		background #e6e6e6
		margin-bottom 21px
	&-scale_num1
		width 91.228070%
		background #3d6cb0
	&-scale_num2
		width 83.157894%
		background #3d6cb0
	&-scale_num3
		width 70.526315%
		background #3d6cb0
	&-scale_num4
		width 61.754385%
		background #3d6cb0
	&-scale_num5
		width 56.491228%
		background #3d6cb0
	&-scale_num6
		width 91.228070%
		background #3d6cb0
	&-content__container-1
		float left
		width 50%
		margin 15px 0 0 1%
	&-content__container-2
		float right
		width 44%
		margin 15px 0 0 1%