.about {
  min-height: 498px;
  padding-left: 4.5%;
}
.about__photo {
  width: 17.1rem;
  height: 17.1rem;
  margin: auto;
}
.about__name {
  margin: 42px 0 0 0;
  line-height: 34px;
}
@media only screen and (max-width: 840px) {
  .about {
    padding: 0;
  }
}
.photo {
  height: 100%;
  border: 1px solid #3d6cb0;
  border-radius: 50%;
}
.photo__circle {
  width: 88.3333%;
  height: 88.3333%;
  background: #3d6cb0;
  border-radius: 50%;
  margin: 5.8333%;
}
.name {
  text-align: center;
  font-size: 4.1rem;
  text-transform: uppercase;
}
.surname {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.prof {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content-list {
  list-style: none;
}
.content-list__item-name {
  display: inline-block;
  font-size: 1.92rem;
  font-weight: bold;
  text-transform: uppercase;
}
.content-list__item-name_color_blue {
  color: #3d6cb0;
}
.content-list__item {
  padding-bottom: 11px;
}
.content-list__item-date {
  display: inline-block;
  font-size: 1.92rem;
  font-weight: lighter;
  padding-left: 3%;
}
.content-list__item-sec-name {
  padding-top: 2px;
  font-size: 1.92rem;
  text-transform: uppercase;
}
.content-list__item-description {
  padding-top: 5px;
  font-size: 1.14rem;
  line-height: 1.365rem;
}
.content-list {
  list-style-image: url(images/list-item-dot.png);
}
.header-of-block {
  display: flex;
  height: 76px;
  padding: 0 0 10px 0;
}
.header-of-block__icon {
  display: inline-block;
  max-width: 100%;
}
.header-of-block__cat-def {
  display: inline-block;
  margin: auto 1.45% auto 1.95%;
}
.header-of-block__line {
  display: inline-block;
  width: 100%;
  margin: auto 0;
}
.category-definition {
  font-size: 3.15rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #3d6cb0;
}
.line {
  border: 2px solid #3d6cb0;
}
@media only screen and (max-width: 375px) {
  .line {
    display: none;
  }
}
.contact {
  min-height: 348px;
}
.contact__table {
  margin: 20px 0 0 0;
  display: table;
}
.contact__row {
  display: table-row;
  height: 4rem;
}
.contact__cell {
  display: table-cell;
  font-size: 1.53rem;
}
.contact__cell-mail {
  text-decoration: none;
  color: #000;
}
.contact__cell-tel {
  text-decoration: none;
  color: #000;
}
.contact__cell-site {
  text-decoration: none;
  color: #000;
}
.contact__cell_color_blue {
  padding-right: 2.678571vw;
  color: #3d6cb0;
  font-weight: bold;
}
.contact__cell_case_upper {
  text-transform: uppercase;
}
.education {
  min-height: 707px;
}
.education__list {
  margin: 13px 0 0 2.3%;
}
.experience {
  min-height: 581px;
}
.experience__list {
  margin: 30px 0 0 2.3%;
}
.profile {
  min-height: 383px;
}
.profile__content {
  font-size: 1.14rem;
  line-height: 1.365rem;
}
.profile__content_f-weight_bold {
  font-weight: bold;
}
.skills {
  min-height: 450px;
}
.skills__feature {
  padding: 19px 0 9px 0;
}
.skills__feature:first-child {
  padding: 9px 0 9px 0;
}
.skill-name {
  font-size: 1.92rem;
  text-align: center;
  text-transform: uppercase;
}
.skill-scale {
  display: flex;
  width: 77.751756%;
  margin: 0 auto;
}
.skill-scale__circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 1.56%;
  background: #3d6cb0;
}
.skill-scale__circle:first-child {
  margin-left: 0;
}
.skill-scale__circle_inactive {
  background: #e6e6e6;
}
.skill-scale__circle_inactive:last-child {
  margin-right: 0;
}
.software {
  min-height: 446px;
}
.software-name {
  font-size: 1.92rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 12px;
}
.software-scale {
  width: 285px;
  height: 23px;
  background: #e6e6e6;
  margin-bottom: 21px;
}
.software-scale_num1 {
  width: 91.22807%;
  background: #3d6cb0;
}
.software-scale_num2 {
  width: 83.157894%;
  background: #3d6cb0;
}
.software-scale_num3 {
  width: 70.526315%;
  background: #3d6cb0;
}
.software-scale_num4 {
  width: 61.754385%;
  background: #3d6cb0;
}
.software-scale_num5 {
  width: 56.491228%;
  background: #3d6cb0;
}
.software-scale_num6 {
  width: 91.22807%;
  background: #3d6cb0;
}
.software-content__container-1 {
  float: left;
  width: 50%;
  margin: 15px 0 0 1%;
}
.software-content__container-2 {
  float: right;
  width: 44%;
  margin: 15px 0 0 1%;
}
@media only screen and (max-width: 1050px) {
  .software-content__container-1 {
    width: 100%;
  }
  .software-content__container-2 {
    float: left;
    width: 100%;
  }
}
@font-face {
  font-family: 'Myriadpro-regular';
  src: url(fonts/myriadpro-regular.eot);
  src: local('\263A'), url(fonts/myriadpro-regular.woff) format('woff'), url(fonts/myriadpro-regular.ttf) format('truetype'), url(fonts/myriadpro-regular.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 14px;
  font-family: 'Myriadpro-regular', 'Arial', Sans-Serif;
}
.summary {
  width: 100%;
  max-width: 1280px;
  min-height: 1810px;
  margin: 0 auto;
}
__column-1 {
  float: left;
  width: 33.28125%;
  margin: 7.109375% 6.171875% 0 4.921875%;
}
__column-2 {
  float: left;
  width: 50.9375%;
  margin: 6.09375% 4.6875% 0 0;
}
@media only screen and (max-width: 375px) {
  .main {
    font-size: 10px;
  }
}
@media only screen and (max-width: 840px) {
  .main__column-1 {
    float: left;
    width: 88.90625%;
    margin: 7.109375% 6.171875% 0 4.921875%;
  }
  .main__column-2 {
    float: left;
    width: 88.90625%;
    margin: 0 6.171875% 0 4.921875%;
  }
}
