include ../header-of-block/header-of-block.pug

mixin profile(options = {text:"empty", textFontWeightBold:" empty"})
    -let {text="empty", textFontWeightBold=" empty"} = options;
    section.profile
        +header-of-block("profile")
        p.profile__content= text
            span.profile__content_font-weight_bold= textFontWeightBold

