.skills
  min-height 32.143rem
  &__feature
    padding 1.357rem 0 0.643rem 0
    &:first-child
      padding 0.75rem 0 0.643rem 0
  &__name
    font-size 1.93rem
    text-align center
    text-transform uppercase
  &__scale
    display flex
    justify-content space-around
    width 81%
    margin 0 auto
    &-circle
      width 1.286rem
      height 1.286rem
      border-radius 0.643rem
      background #3d6cb0
      &_inactive
        background #e6e6e6