.skills
	min-height 450px
	&__feature
		padding 19px 0 9px 0
		&:first-child
			padding 9px 0 9px 0
.skill
	&-name
		font-size 1.92rem
		text-align center
	&-scale
		display flex
		width 77.751756%
		margin 0 auto
		&__circle
			display inline-block
			width 18px
			height 18px
			border-radius 50%
			margin 0 1.56%
			background #3d6cb0
			&:first-child
				margin-left 0
			&_inactive
				background #e6e6e6
				&:last-child
					margin-right 0