div(class='skills')
	+header-of-block("icon_3", "SKILLS")
	div(class='skills-content')
		div(class='skills-feature skills-content__feature') CREATIVE
			div(class='skills-scale skills-content__scale')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
		div(class='skills-feature skills-content__feature') TEAMWORK
			div(class='skills-scale skills-content__scale')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle skills-scale__circle_inactive')
		div(class='skills-feature skills-content__feature') INNOVATE
			div(class='skills-scale skills-content__scale')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
				div(class='skills-scale__circle skills-scale__circle_inactive')
		div(class='skills-feature skills-content__feature') COMMUNICATION
			div(class='skills-scale skills-content__scale')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle')
				div(class='skills-scale__circle skills-scale__circle_inactive')