include ../header-of-block/header-of-block.pug

mixin skills(options = [{skill:"creative", skillLevel:"9", maxSkillLevel:"12"}])
    section.skills
        +header-of-block("skills")
        .skills__content
            -options.forEach(function(item, i, arr) {
                .skills__feature
                    .skills__name= item.skill
                .skills__scale
                    - for (let i = 0; i < item.maxSkillLevel; i += 1) {
                        - if (i < item.skillLevel) {
                            .skills__scale-mark
                        - } else {
                            .skills__scale-mark.skills__scale-mark_inactive
                        - }
                    - }
            -});
                