include ../header-of-block/header-of-block.pug

mixin skills(options)
    if (!options)
        -options = [{skill:"creative", skillLevel:"9", maxSkillLevel:"12"}];
    section.skills
        +header-of-block("skills")
        .skills__content
            -options.forEach(function(item, i, arr) {
                .skills__feature
                    .skills__name= item.skill
                .skills__scale
                    - for (let i = 0; i < item.maxSkillLevel; i += 1) {
                        - if (i < item.skillLevel) {
                            .skills__scale-circle
                        - } else {
                            .skills__scale-circle.skills__scale-circle_inactive
                        - }
                    - }
            -});
                