mixin skill(skillName, skillLevel)
    .skills__feature
        .skill-name= skillName
    .skill-scale
        - for(var i=0;i<12;i++) {
            - if(i<skillLevel)
                .skill-scale__circle
            - else
                .skill-scale__circle.skill-scale__circle_inactive
        - }

.skills
    +header-of-block("icon-skills", "skills")
    .skills__content
        +skill("creative", 9)
        +skill("teamwork", 11)
        +skill("innovate", 6)
        +skill("communication", 11)