div(class='experience')
	+header-of-block("icon_5", "EXPERIENCE")
	div(class='experience-content')
		ul(class='content-list experience-content__list')
			li(class='content-list__item')
				div(class='item-name') COMPANY NAME
				div(class='item-date') // Feb 2011 - Jun 2014
				div(class='item-sec-name') YOUR JOB HERE
				div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
			li(class='content-list__item')
				div(class='item-name') COMPANY NAME
				div(class='item-date') // Feb 2011 - Jun 2014
				div(class='item-sec-name') YOUR JOB HERE
				div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
			li(class='content-list__item')
				div(class='item-name') COMPANY NAME
				div(class='item-date') // Feb 2011 - Jun 2014
				div(class='item-sec-name') YOUR JOB HERE
				div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
