div(class='education')
	+header-of-block("icon_4", "EDUCATION")
	div(class='education-content')
		ul(class='content-list education-content__list')
			li(class='content-list__item')
						div(class='item-name item-name_color_blue') MASTER DEGREE
						div(class='item-date') // Feb 2011 - Jun 2014
						div(class='item-sec-name') UNIVERSITY NAME
						div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
			li(class='content-list__item')
						div(class='item-name item-name_color_blue') MASTER DEGREE
						div(class='item-date') // Feb 2011 - Jun 2014
						div(class='item-sec-name') UNIVERSITY NAME
						div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.	
			li(class='content-list__item')
						div(class='item-name item-name_color_blue') MASTER DEGREE
						div(class='item-date') // Feb 2011 - Jun 2014
						div(class='item-sec-name') UNIVERSITY NAME
						div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
			li(class='content-list__item')
						div(class='item-name item-name_color_blue') MASTER DEGREE
						div(class='item-date') // Feb 2011 - Jun 2014
						div(class='item-sec-name') UNIVERSITY NAME
						div(class='item-description') Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.