include blocks/summary/summary.pug

doctype html
html
    head
        meta(charset = "utf-8")/
        meta(name = "description", content = "Верстка макета резюме (практика верстки 1)")/
        meta(name = "keywords", content = "верстка")/
        meta(name = "author", content = "Sergey Karbyshev")/
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
        link(rel = "shortcut icon", href = require('./images/favicon.ico'), type = "image/x-icon")/
        title Моё резюме
    body
        +summary()