@font-face {
  font-family: 'Myriadpro-regular';
  src: url('fonts/myriadpro-regular.eot');
  src: local('☺'), url('fonts/myriadpro-regular.woff') format('woff'), url('fonts/myriadpro-regular.ttf') format('truetype'), url('fonts/myriadpro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
  font-size 14px
  font-family 'Myriadpro-regular', 'Arial', Sans-Serif
  background #ffffff
  color #000000
  @media only screen and (max-width 26.785rem)
    font-size 10px

.summary
    width 100%
    max-width 91.42rem
    min-height 129.285rem
    margin 0 auto
    &__column-1
      float left
      width 30.425rem
      margin 6.5rem 5.6rem 0 4.5rem
      @media only screen and (max-width 60rem)
        width 88.90625%
      @media only screen and (max-width 87rem)  
        margin 1rem              
    &__column-2
      float left
      width 46.6rem
      margin 5.5rem 0 0 0
      @media only screen and (max-width 60rem)
        width 88.90625%
      @media only screen and (max-width 87rem)
        margin 1rem