doctype html
html(class="main")
  head
    meta(charset = "utf-8")/
    meta(name = "description", content = "Верстка макета резюме (практика верстки 1)")/
    meta(name = "keywords", content = "верстка")/
    meta(name = "author", content = "Sergey Karbyshev")/
    meta(name = "viewport", content = "initial-scale=1.0, width=device-width")/
    title Моё резюме
  body(class="main__page")
    include blocks/common/header-of-block/header-of-block.pug
    div(class="main__column-1")
      include blocks/about/about.pug
      include blocks/profile/profile.pug
      include blocks/contact/contact.pug
      include blocks/skills/skills.pug
    div(class="main__column-2")
      include blocks/education/education.pug
      include blocks/experience/experience.pug
      include blocks/software/software.pug