@font-face {
  font-family: 'Myriadpro-regular';
  src: url('fonts/myriadpro-regular.eot');
  src: local('☺'), url('fonts/myriadpro-regular.woff') format('woff'), url('fonts/myriadpro-regular.ttf') format('truetype'), url('fonts/myriadpro-regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html
  font-size 14px
  font-family 'Myriadpro-regular', 'Arial', Sans-Serif

.summary
  width 100%
  max-width 1280px
  min-height 1810px
  margin 0 auto
  &__column-1
    float left
    width 33.28125%
    margin 7.109375% 6.171875% 0 4.921875%
  &__column-2
    float left
    width 50.9375%
    margin 6.09375% 4.6875% 0 0

@media only screen and (max-width 375px)
  .main
    font-size 10px

@media only screen and (max-width 840px)
  .main__column-1
    float left
    width 88.90625%
    margin 7.109375% 6.171875% 0 4.921875%
  .main__column-2
    float left
    width 88.90625%
    margin 0 6.171875% 0 4.921875%
